.dad-photo-wrapper {

	padding-bottom: 30px;

	img{
	    width: 100%;
	    position: relative;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	}

}
